body {
  background-color: #050000;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
}

.maya-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}